$aqua-500:#143B40;
$aqua-400:#15ACC0;
$aqua-300:#76EFFF;
$aqua-400:#15ACC0;
$aqua-100:#BBFFE6;

$gris-500:#5A5A5A;
$gris-400:#6E787C;
$gris-300:#EAEBEF;
$gris-200:#F4F4F4;
$gris-100:#F4F4F4;

//secundary
$secundary-400:#283252;
//shadow
$primary-box-shadow: 0 8px 16px -12px hsla(187, 80%, 42%, 0.171), 0 4px 12px 0 hsla(187, 80%, 42%, 0.171), 0 4px 5px -5px hsla(187, 100%, 73%, 0.208) !important;


