$aqua-500:#143B40;
$aqua-400:#15ACC0;
$aqua-300:#76EFFF;
$aqua-400:#15ACC0;
$aqua-100:#BBFFE6;

$gris-500:#5A5A5A;
$gris-400:#6E787C;
$gris-300:#EAEBEF;
$gris-200:#F4F4F4;
$gris-100:#F4F4F4;

$danger:#DC3545;
$success:#16C59B;
$warning:#FFC610;
//secundary
$secundary-400:#283252;
//shadow
$primary-box-shadow: 0 8px 16px -12px hsla(187, 80%, 42%, 0.171), 0 4px 12px 0 hsla(187, 80%, 42%, 0.171), 0 4px 5px -5px hsla(187, 100%, 73%, 0.208) !important;
$alert-box-shadow: 0 8px 16px -12px rgba(220, 53, 70, 0.179), 0 4px 12px 0 rgba(220, 53, 70, 0.14), 0 4px 5px -5px rgba(220, 53, 70, 0.054) !important;
$sucess-box-shadow: 0 8px 16px -12px rgba(22, 197, 156, 0.123), 0 4px 12px 0 rgba(22, 197, 156, 0.123), 0 4px 5px -5px rgba(22, 197, 156, 0.123) !important;

$secundary-box: 0px 6px 6px rgba(40, 50, 82, 0.05);


